:root {
  --main-font: "Poppins", sans-serif;
}
body {
  font-family: var(--main-font);
}
h1 {
  color: white;
  padding: 50px 0;
  font-size: 90px;
}
a {
  color: #010300;
  text-decoration: none;
}
.section {
  max-width: 1100px;
  margin: 0 auto;
}
.hero {
  background: #010300;
}
.hero-contact {
  background: #fbfbfb;
}
.hero h1 {
  padding-bottom: 0;
}
.hero-contact h1 {
  font-weight: 600;
  color: #131313;
  text-shadow: 2px 2px 8px rgba(25, 25, 25, 0.295);
}
.hero-work {
  background-image: url(/images/do-something-great.jpg);
  background-size: cover;
  height: 600px;
}
.content-container {
  background: #2125294d;
  padding: 40px 0;
}
.content-container h4 {
  padding: 60px 0;
  font-size: 30px;
}
.btn {
  padding: 15px 20px;
}
.content-container p {
  font-size: 17px;
}
@media (max-width: 576px) {
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h2 {
    text-align: center;
  }
  img {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .hero-photo {
    padding: 0;
  }
}
