:root {
  --main-font: "Poppins", sans-serif;
  --secondary-colour: #f8f8f8;
  --dark-shadow: #212529;
  --modern-purple: #630dc2;
  --transparent-purple: #9878bb;
  --light-purple: #d8bbf86b;
  --modern-pink: #da0e9b;
  --gradient: linear-gradient(
    68.6deg,
    var(--modern-pink),
    var(--modern-purple)
  );
  --shadow: 5px 5px 8px rgba(109, 109, 109, 0.247);
}
body {
  font-family: var(--main-font);
}
h1 {
  color: white;
  padding: 50px 0;
  font-size: 90px;
}
h5 {
  font-weight: 600;
  font-size: 25px;
  opacity: 0.8;
}
h6 {
  font-size: 18px;
  font-weight: 200;
}
hr:not([size]) {
  height: 3px;
  text-align: right;
  color: var(--modern-purple);
}
li {
  padding: 5px 0;
  list-style-type: none;
  font-size: 14px;
  opacity: 0.7;
}
li h6 {
  font-weight: 400;
}
img {
  padding: 0;
}
a {
  color: #010300;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.section {
  max-width: 1100px;
  margin: 0 auto;
}
.bg {
  background-color: var(--modern-pink);
}
.progress {
  height: 30px;
  font-size: 15px;
}
.progress-bar {
  text-align: left;
  padding-left: 5px;
}
.hero {
  background: #010300;
}
.future-background {
  background: linear-gradient(
    68.6deg,
    var(--modern-pink),
    var(--modern-purple)
  );
}
.hero-contact {
  background: #fbfbfb;
}
.hero h1 {
  padding-bottom: 0;
}
.hero-contact h1 {
  font-weight: 600;
  color: #131313;
  text-shadow: 2px 2px 8px rgba(25, 25, 25, 0.295);
}
.hero-work {
  background-image: url(/images/do-something-great.jpg);
  background-size: cover;
  height: 600px;
}
.content-container {
  background: var(--secondary-colour);
  padding: 40px 0 0;
}
.content-container h4 {
  padding: 60px 0;
  font-size: 30px;
}
.about-container {
  margin-top: 20px;
  background: white;
  transition: all 150ms ease-in-out;
}
.about-container .content-container {
  margin-top: 160px;
  transition: ease-in-out all 150ms;
  box-shadow: var(--shadow);
  border-radius: 4px;
}
.title {
  color: var(--modern-pink);
}
.about-container .content-container:hover {
  color: white;
  background: linear-gradient(68.6deg, #da0e9944, #650dc270);
}
.tile {
  margin-top: -185px;
  padding: 0;
  margin-left: -50px;
}
.about-card {
  background: white;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
.tile-second-section {
  margin-top: 150px;
  margin-left: 70px;
  margin-bottom: -200px;
  padding: 0;
  max-width: 150%;
}
.content-container .about-container:hover {
  color: white;
  background: linear-gradient(68.6deg, #da0e9944, #650dc270);
}
.btn {
  padding: 15px 20px;
  background: var(--modern-purple);
  color: white;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  color: white;
  border: 5px solid var(--transparent-purple);
}
.btn-course {
  border: none;
  background: none;
}
.btn-course:hover {
  text-decoration: underline;
  color: white;
}
.course-title {
  text-align: right;
  padding-top: 7px;
}
.bottom-margin {
  padding-bottom: 100px;
}
.content-container p {
  font-size: 16px;
  font-weight: 200;
}
.content-container h5 {
  font-weight: 400;
}
.accordion-button:focus {
  border-color: var(--transparent-purple);
  box-shadow: 0 0 0 0.25rem #d8bbf86b;
}
.accordion-button:not(.collapsed) {
  color: var(--modern-purple);
  background-color: #e9dafa6b;
}
.card {
  background: var(--light-purple);
  border: 1px solid var(--secondary-colour);
  transition: all 200ms ease-in-out;
}
.card:hover {
  background: #dddddd;
  border: 1px solid var(--secondary-colour);
  box-shadow: 5px 5px 8px rgba(207, 207, 207, 0.295);
}
.card .card-title,
.future-background h3 {
  color: white;
}
.card-left {
  margin-top: 100px;
}
.card-work {
  background: #e3cff893;
}
.contact-card {
  background: #ebebeb;
}
.contact-card .card-title {
  color: var(--modern-purple);
}
.contact-card h6 {
  margin-bottom: 0;
  margin-top: 5px;
}
.margin {
  margin-top: 100px;
}
.underlink {
  max-width: 40%;
  margin-right: 0;
  text-align: right;
}
.highlight-line {
  max-width: 80%;
}
.contact-link:hover {
  color: var(--secondary-colour);
}
.icon {
  font-size: 40px;
  color: var(--transparent-purple);
}
a .hyperlink:hover {
  color: var(--modern-pink);
}
.photo-margin p {
  color: white;
}
.fas {
  font-size: 80px;
  opacity: 0.6;
  padding-right: 10px;
  color: var(--modern-purple);
}
.right {
  text-align: right;
}
.fa-envelope {
  font-size: 30px;
  display: block;
  margin: 0 auto;
  color: var(--transparent-purple);
}
.content-container .fa-envelope {
  font-size: 200px;
  text-align: center;
  margin-top: 50px;
}
.photo-margin {
  margin-bottom: -200px;
}
.top-margin {
  margin-top: 150px;
}
.icon:hover,
.email-link:hover {
  color: var(--modern-purple);
}
.email-link {
  text-align: right;
}
.contact-link h2,
.contact-link i {
  display: inline;
}
.form-label {
  opacity: 0.8;
  margin-bottom: 2px;
}
.black {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}
.margin {
  margin: 50px;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h2 {
    text-align: center;
    padding: 10px 5px;
  }
  img {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .contact-card h6,
  .contact-card a {
    display: block;
    text-align: center;
  }
  .hero-photo {
    padding: 0;
  }
  .bottom-margin {
    padding-bottom: 0px;
  }
  .email-link,
  .footer-icon {
    text-align: center;
  }
}
