:root {
  --main-font: "Poppins", sans-serif;
  --secondary-colour: #d6d6d6;
  --dark-shadow: #212529;
  --modern-purple: #630dc2;
  --transparent-purple: #9878bb;
  --modern-pink: #da0e9b;
  --gradient: linear-gradient(
    68.6deg,
    var(--modern-pink),
    var(--modern-purple)
  );
  --shadow: 5px 5px 8px rgba(109, 109, 109, 0.247);
}
body {
  font-family: var(--main-font);
}
h1 {
  color: white;
  padding: 50px 0;
  font-size: 90px;
}
h5 {
  font-weight: 600;
  font-size: 25px;
  opacity: 0.8;
}
h6 {
  font-size: 18px;
  font-weight: 200;
}
hr:not([size]) {
  height: 3px;
  text-align: right;
  color: var(--modern-purple);
}
li {
  padding: 5px 0;
  list-style-type: none;
  font-size: 14px;
  opacity: 0.7;
}
img {
  padding: 0;
}
a {
  color: #010300;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:hover {
  color: rgba(255, 255, 255, 0.658);
}
.section {
  max-width: 1100px;
  margin: 0 auto;
}
.bg {
  background-color: var(--modern-purple);
}
.hero {
  background: #010300;
}
.future-background {
  background: linear-gradient(
    68.6deg,
    var(--modern-pink),
    var(--modern-purple)
  );
}
.hero-contact {
  background: #fbfbfb;
}
.hero h1 {
  padding-bottom: 0;
}
.hero-contact h1 {
  font-weight: 600;
  color: #131313;
  text-shadow: 2px 2px 8px rgba(25, 25, 25, 0.295);
}
.hero-work {
  background-image: url(/images/do-something-great.jpg);
  background-size: cover;
  height: 600px;
}
.content-container {
  background: var(--secondary-colour);
  padding: 40px 0 0;
}
.content-container h4 {
  padding: 60px 0;
  font-size: 30px;
}
.about-container {
  margin-top: 20px;
  background: white;
  transition: all 150ms ease-in-out;
}
.about-container .content-container {
  margin-top: 160px;
  transition: ease-in-out all 150ms;
  box-shadow: var(--shadow);
  border-radius: 4px;
}
.about-container .content-container:hover {
  color: white;
  background: linear-gradient(68.6deg, #da0e9944, #650dc270);
}
.tile {
  margin-top: -185px;
  padding: 0;
  margin-left: -50px;
}
.about-card {
  background: white;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
.tile-second-section {
  margin-top: 150px;
  margin-left: 70px;
  margin-bottom: -200px;
  padding: 0;
  max-width: 150%;
}
.content-container .about-container:hover {
  color: white;
  background: linear-gradient(68.6deg, #da0e9944, #650dc270);
}
.btn {
  padding: 15px 20px;
  background: var(--modern-purple);
  color: white;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  color: white;
  border: 5px solid var(--transparent-purple);
}
.bottom-margin {
  padding-bottom: 100px;
}
.content-container p {
  font-size: 16px;
  font-weight: 200;
}
.content-container h5 {
  font-weight: 400;
}
.card {
  background: var(--secondary-colour);
  border: 1px solid var(--secondary-colour);
  transition: all 200ms ease-in-out;
}
.card:hover {
  background: #e4e4e4;
  border: 1px solid var(--secondary-colour);
  box-shadow: 5px 5px 8px rgba(114, 114, 114, 0.295);
}
.card-right {
  margin-top: 250px;
}
.margin {
  margin-top: 100px;
}
.underlink {
  max-width: 40%;
}
.highlight-line {
  max-width: 80%;
  color: var(--modern-purple);
}
.icon {
  font-size: 40px;
  color: var(--transparent-purple);
}
.fas {
  font-size: 80px;
  opacity: 0.6;
  padding-right: 10px;
  color: var(--modern-purple);
}
.right {
  text-align: right;
}
.fa-envelope {
  padding-top: 60px;
  font-size: 200px;
  color: var(--modern-purple);
}
.icon:hover,
.email-link:hover {
  color: var(--secondary-colour);
}
.email-link {
  text-align: right;
}
.form-label {
  opacity: 0.8;
  margin-bottom: 2px;
}
@media (max-width: 576px) {
  h1 {
    text-align: center;
    font-size: 50px;
  }
  h2 {
    text-align: center;
  }
  img {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .hero-photo {
    padding: 0;
  }
}
